.title-categs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 20px;
  list-style: none;
  background-color: #3582db;
  font-weight: 650;
}

.destroy,
.deletes {
  background-color: #3582db;
  border: none;
  color: #fff;
  font-weight: 650;
}

.list-unstyled-cat {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 5px 5px 7px #a2abb1;
  color: #000;
}

.icon-cat {
  color: #000;
  font-size: 18px;
}

hr {
  margin-left: 15px;
}

.addnew-cat {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  background-color: #5fb523;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
}

.addnew-cat2 {
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid #fff;
  background-color: #5fb523;
  font-size: 17px;
  margin: 10px 10px;
  color: #fff;
}

.arrow-back {
  font-size: 30px;
  color: #fff;
}

.add1-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 20px;
  list-style: none;
  background-color: #3582db;
  font-weight: 650;
}

.name-cat,
.icon-cat,
.f-text {
  border: 0;
  padding: 15px;
  width: 100%;
  outline: none;
}

.div-category-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 20px;
  list-style: none;
  background-color: #3582db;
  font-weight: 650;
}
