<nav>
  <div class="add1-category center-block">
    <div>
      <%= link_to '<', categories_path, class: "arrow-back" %>
    </div>
    <div>
      <h1>add category</h1>
    </div>
    <div>
      <%= button_to 'LOG OUT', destroy_user_session_path, method: :delete, class: "destroy" %>
    </div>
  </div>
</nav>

<%= render "form", category: @category %>