<section>
<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested link to change password. You can do this using the link below.</p>

<p><%= link_to 'Change password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If is not you who requested this, ignore this email.</p>
<p>Your password won't change until you access the link.</p>
</section>